* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Makes it so 1rem is equal to 10px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* the double dash declares a variable that you can store a value */
  /* font size of 2rem that grows as the vw increases */
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(5rem + 1vw);
  --special-color: #906272;
  --main-color: #414141;
  --gray-text: #525252;
}

h1 {
  font-size: var(--header1);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

li,
button,
label,
input,
p,
a {
  font-size: var(--text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Frank Ruhl Libre", serif;
}

h1 {
  font-family: "Great Vibes", cursive;
}

/* Nav section */

.main-header {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 999;
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
}

#logo {
  flex: 1 1 20rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}

/* hero section */

.hero {
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  animation: fade 1.5s ease;
}

.hero-introduction {
  text-align: center;
  flex: 3 1 40rem;
}

.hero-introduction p {
  padding: 5rem 10rem;
  color: var(--gray-text);
}

.hero-introduction h2 {
  padding-top: 3rem;
}

.hero-introduction a {
  padding: 2rem 8rem;
  border: 3px solid black;
  margin-bottom: 4rem;
  transition: all ease 0.5s;
}

.hero-introduction a:hover {
  background: #dad8dd;
}

.hero-images {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
  position: relative;
  z-index: 1;
}

.hero-melanie {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -1;
  transform: translateY(10%) rotateX(-90deg);
  animation: plant-entrance 1.5s ease forwards 0.5s;
  transform-origin: bottom;
}

.plant2 {
  left: 40%;
}

/* About Section*/

.about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.about-image {
  flex: 1 1 40rem;
  position: relative;
}

.about-image h5 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  letter-spacing: 2rem;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-text {
  color: white;
  background: var(--main-color);
  flex: 2 1 40rem;
  justify-content: space-around;
}

.about-text div {
  padding: 3rem 8rem;
}

.about-text h3 {
  padding: 2rem 0rem;
}

.about-text p {
  font-size: var(--text);
}

.about-text h2 {
  padding: 2rem 0rem;
  font-family: "Great Vibes", cursive;
}
/* gallery */

.gallery {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery1 {
  grid-column: 1/3;
}

.gallery2 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.gallery-head {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: white;
  background: var(--main-color);
  padding: 5rem 10rem;
  text-align: center;
  opacity: 0.8;
}

/* animations */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateX(0);
  }
}

/* media queries */

@media screen and (max-width: 842px) {
  /* Nav bar */
  .nav-links {
    background: var(--main-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: all ease 0.5s;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links.active + .burger span {
    background: white;
  }

  .nav-links a {
    color: white;
    text-decoration: underline;
  }

  .burger {
    cursor: pointer;
    z-index: 1;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: var(--gray-text);
    margin: 0.5rem 0rem;
    display: block;
  }
  /* hero section */
  .hero {
    width: 100%;
  }
  .hero-introduction p {
    padding: 5rem 2rem;
  }
  .plant {
    height: 80%;
  }
  /* About Section */
  .about-text div {
    padding: 3rem 3rem;
  }

  /* gallery */

  .gallery img {
    grid-row: auto;
    grid-column: auto;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .gallery-head {
    display: none;
  }
}
